<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->
<mapper namespace="mapper">
    <!--select 태그는 반드시 resultType 속성을 가져야 한다.-->
    <!--select를 제외한 태그(insert, update, delete)에는 resultType 사용 안함-->
    <!--select를 제외한 태그는 조회되는게 아니므로-->
    <!--resultType은 '결과 자료형'이란 의미다.-->
    <!--resultType에는 쿼리 결과 '조회되는 데이터'를 자바의 어떤 자료형에 담을 지 결정-->

    <!--글번호가 1번인 게시글의 조회수를 조회-->
    <select id="selectReadCnt" resultType="int">
        SELECT READ_CNT
        FROM BASIC_BOARD
        WHERE BOARD_NUM = #{boardNum}
        <!--#{boardNum}->빈값으로 넣고자 하는 값을 넣어주면 된다.-->
        <!--컬럼명을 #{}안에 소문자로 넣어주면 된다. #{title}, #{writer}...-->
    </select>
    <!--데이터가 여려행이 들어가지만 하나의 행 데이터를 어디에 담아오느냐이므로 resultType는 문자-->
    <select id="getTitles" resultType="String">
        SELECT TITLE
        FROM BASIC_BOARD
        WHERE READ_CNT > #{readCnt}
    </select>

    <!--pk(primary key로 선택하는 조건이므로 하나뿐인 데이터이므로 resultType을 문자로)-->
    <select id="selectBoardTitle" resultType="String">
        SELECT TITLE
        FROM BASIC_BOARD
        WHERE BOARD_NUM = 1
    </select>

    <!--모든 데이터 중 하나의 행 데이터를 담을 수 있는 자료형을 resultType에 넣어준다-->
    <select id="a" resultType="int">
        SELECT READ_CNT
        FROM BASIC_BOARD
    </select>

    <!--id는 모두 달라야한다.-->
    <select id="b" resultType="String">
        SELECT WRITER
        FROM BASIC_BOARD
        WHERE TITLE = #{title}
    </select>

    <select id="d" resultType="String">
        SELECT TITLE
        FROM BASIC_BOARD
        WHERE READ_CNT = #{readCnt}
        AND WRITER = #{writer}
    </select>


    <!--우리가 만든 자료형(클래스)을 resultType에 작성할 때는 '패키지명'까지 작성해야한다!!-->
    <!-- application.properties 설정 파일에
    mybatis.type-aliases-package=com.green.board.dto 코드가 작성되어 있기 때문에
    해당 설정은 resultType에 작성할 클래스가 선언된 패키지를 작성함으로써,
    resultType에는 클래스명만 작성하면 된다.-->
    <select id="c" resultType="BoardDTO">
        SELECT *
        FROM BASIC_BOARD
        WHERE BOARD_NUM = #{boardNum}
    </select>

    <!--모든 게시글의 정보를 조회하는 쿼리-->
	<select id="selectBoardList" resultType="BoardDTO">
        SELECT *
        FROM BASIC_BOARD
        ORDER BY CREATE_DATE DESC
    </select>



</mapper>































